*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}
main{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, rgb(61, 59, 59),rgb(37, 35, 35) ,black);
    padding: 20px;
    overflow: auto;
    

}
section{
    height: 100%;
    max-height: 100vh;
    width: 400px;
    background-color: black;
    border-radius: 10px;
    margin: auto;  /* yeh center m ajaega div isse */

}
section .all-reels{
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory; /* full-page vertical snap */
    scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar{
    display: none;

}
.reel{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; /* takay kuch bahar na nikle reel se */
    border-radius: 10px;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always
}
.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none; /* important */
}
.reel .bottom{
    padding: 30px 20px;
    width: 100%;
   background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0));
    position: absolute; /* reel k opr chahiye ha islie */
    bottom: 0; 
    color: aliceblue;
}
.bottom .user{
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 20px;
}
.bottom .user img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.bottom>h3{
    font-weight: 500;
    font-size: 20px;
}
.bottom .user h4{
    font-size: 17px;
    font-weight: 500;

}
.bottom .user button{
    background-color: transparent;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid white;
    color: white;
}
.bottom>h3 span{
    font-weight: 400;
    color: rgb(2, 2, 137);
    -webkit-text-stroke: 0.3px  rgb(49, 95, 179);
}

.right{
    width: 40px;
    position: absolute;
    right: 10px;
    bottom: 14%;
    /* padding: 0; */
    /* transform: translateX(100%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* align-items: center; */
    text-align: center;
    color: aliceblue;

}
.right i{
    font-size: 29px;
    font-weight: 500;
}
.right h4{
    cursor: pointer;
}
.right h6{
    font-size: 15px;
    font-weight: 500;

}
.right>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    cursor: pointer;
}
.right>div i{
    pointer-events: none; /* jitne bhi pointing events hain wo ni chalega */

}
.right>div h6{
    pointer-events: none;

}
.love{
    color: red;
    /* animation: pop 0.3s ease; */

}
/* @keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
} */